<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags must come first in the head; any other head content must come *after* these tags -->

  <!-- <link rel="icon" href="bootstrap/docs/favicon.ico"> -->
  <!-- <title>Rhythm</title> -->

  <!-- Bootstrap core CSS -->
  <!-- <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- Audio.js -->
  <script src="../scripts/ext/audiojs/audio.min.js"></script>

  <!-- Custom styles for this template -->
  <link href="../styles/theme.css" rel="stylesheet">

  <!-- Chosen jQuery Stylesheet -->
  <link href="../styles/ext/chosen.min.css" rel="stylesheet">

  <!-- DataTables Stylesheet -->
  <link rel="stylesheet" type="text/css" href="../styles/ext/datatables.min.css" />


  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../scripts/ext/jquery.js"></script>

  <!-- Chosen jQuery -->
  <script src="../scripts/ext/chosen.jquery.min.js"></script>

</head>

<body>
  <!-- Black Topbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      </div>
    </div>
  </nav>

  <!-- Content of the Page -->
  <div class="container">
    <!-- Page Header -->
    <div class="page-header" id="page_header">
      <h1>MIDI Exercise : don't forget to team up !</h1>
    </div>

    <div id="introduction">
      <br>
      <div id="introVideo"></div>
      <br>
      <br>
      As explained before in the video, in this exercise you will need to put the midi notes to the correct height. Decide which one of you will be the "listener" (i.e. the person that can hear the results) while the other one will be the "maestro" (i.e. the person in charge of moving the midi notes around and receiving indications from the listener). Don't forget to plug an headset to your computer (if you don't have any, please ask the supervisor(s) for one) as only the listener can hear sounds from the computer. The listener should not have any visual access to the computer screen, while the maestro should not be able to hear what the listener hears.
    </div>

    <br>

    <div id="explanation_1">
      Once you have settled who does what, and read this small paragraph, you can start the exercise. On this mp3 web player below can be heard what should be the expected result. The listener can ask to listen to this extract as many times as he wants. Clicking on the link below the mp3 player will lead you to a website where a sequence of MIDI notes are displayed. The maestro can alter the height of the notes simply by dragging the boxes on the height he wants. On the left upper corner can be found a small play button which will play the sequence to the listener. Again, the listener can ask as many times as he wants to listen to what the maestro has been doing on the website. The listener should give constructive feedback and indicatiosn to the maestro in order to reconstruct the original tune. The listener should neither tell what is the song he is hearing (if he recognizes it) neither sing it to the maestro.  Good luck, and have fun !
    </div>

    <br>

    <div id="au_clair_de_la_lune">
      <audio src="../music/au_clair_de_la_lune.mp3" preload="auto" />
    </div>
    <div id="au_clair_link">
      <a href="https://onlinesequencer.net/694934" target="_blank" id="firstLink"> Here is the first exercise </a>
    </div>
    <br>
    <button type="button" class="btn btn-info" id="buttonFirstPart">Click when you finished the first part!</button>

    <br>
    <br>

    <div id="explanation_2">
      If you think you have found the correct answer, don't forget to either screenshot your MIDI result, or take a picture with your phone. Now switch roles, the person who was manipulating the notes now has the headset and cannot look at the screen, and the person with the headset now takes the mouse. The same ruleset as before applies for this second exercise. Good luck, and again, have fun !
    </div>

    <div id="frere_jacques">

      <audio src="../music/frere_jacques.mp3" preload="auto" />
    </div>

    <div id="frere_link">
      <a href="https://onlinesequencer.net/694921" target="_blank" id="secondLink"> Here is the second exercise </a>
    </div>
    <br>
    <button type="button" class="btn btn-info" id="buttonSecondPart">Click when you finished the second part!</button>
    <br>
    <br>
    <div id ="conclusion">
      Again, don't forget to have some visual recording of your results, and find a way to give back the two results' screenshots/pictures to the supervisor(s). Once it is done, each of you can get back to your own workstation, and click on the link below to see the next and final video explanation.
    </div>

    <br>
    <a href="https://www.youtube.com/watch?v=A9BxWwq0eqw"> Go to the next video </a>

    <!-- JavaScript -->
    <script src="../scripts/index.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    window.jQuery || document.write('<script src="styles/framework/bootstrap-3.3.7/assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>

  </html>
