<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags must come first in the head; any other head content must come *after* these tags -->

  <!-- <link rel="icon" href="bootstrap/docs/favicon.ico"> -->
  <!-- <title>Rhythm</title> -->

  <!-- Bootstrap core CSS -->
  <!-- <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <link href="../styles/theme.css" rel="stylesheet">

  <!-- Chosen jQuery Stylesheet -->
  <link href="../styles/ext/chosen.min.css" rel="stylesheet">

  <!-- DataTables Stylesheet -->
  <link rel="stylesheet" type="text/css" href="../styles/ext/datatables.min.css" />


  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../scripts/ext/jquery.js"></script>

  <!-- Chosen jQuery -->
  <script src="../scripts/ext/chosen.jquery.min.js"></script>

  <!-- DataTables -->
  <script type="text/javascript" src="../scripts/ext/datatables.min.js"></script>

</head>

<body>
  <!-- Black Topbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      </div>
    </div>
  </nav>

  <!-- Content of the Page -->
  <div class="container">
    <!-- Page Header -->
    <div class="page-header" id="page_header">
      <h1>Rhythm</h1>
    </div>

    <div id="white_stripes"></div>
    <br>
    <br>

    <!-- Intro Modal -->
    <div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Rhythm Exercise</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Hello, and welcome to our little lesson on Music Reading ! You learn better by practicing, so we will start directly with a small rhythm exercise before giving you some formal knowledge via a video explanation. Please read carefully the paragraph below.
            <br>
            <br>
            A video will be shown on the screen. It is an extract of a concert from The White Stripes. Your goal is to tap in rhythm (i.e. at the same time) with the kick of the drums. You can press any letter of your keyboard to tap the rhythm. You will easily recognize this famous riff, it will be played two times before the drum kick starts, so be vigilant. After a while, the song will slowly fades out, you need to keep on taping on your keyboard at the same pace, just like if you still heard the drum kick. You have only one try, so make it count !
            <br><br>
            But before you begin, please enter a username:
            <br>
            <form id=username>
              <div class="form-group">
                <input type="text" class="form-control" id="userID" placeholder="Username">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="startVideo" disabled="disabled">Start the Video</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Result Modal -->
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Result</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="progress">
              <div id="resultPercentage" class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div id="resultPercentageNumeral"></div>
              </div>
            </div>
            <div id="score"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          <div id="next_step">
            Congratulation on your first music exercise ! Now click on the link below to get to the theory video.
            <a href="https://www.youtube.com/watch?v=Awgq4SdHNpE"> Go to the video </a>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div id="intervalArray"></div>


    <!-- JavaScript -->
    <script src="../scripts/rhythm.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      window.jQuery || document.write('<script src="styles/framework/bootstrap-3.3.7/assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
